@import "tailwindcss";

@theme {
  --color-background: #0a0a0a;
  --color-surface: #1c1c1c;
  --color-surfaceHighlight: #2a2a2a;
  --color-primary: #e50914;
  --color-secondary: #a3a3a3;
  --color-text: #ededed;

  --font-sans: "Inter", system-ui, sans-serif;

  --image-gradient-card: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );

  --animate-fade-in: fadeIn 0.5s ease-out;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text);
    @apply antialiased font-sans;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
